@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  #list-subtipo-animal input {
    width: 50%;
    text-align: center;
  }
  .ng-select-container {
    border: none !important;
  }
  .ng-select, .ng-option {
    border-radius: 0.375rem;
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #dadfe6;
    color: #2a2a2a;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
  }
  .input-autos {
    border-radius: 0.375rem;
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #dadfe6;
    color: #2a2a2a;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
  }
  nb-card-body {
    overflow: visible;
  }
  .input-group {
    margin-bottom: 1rem;
  }
  .test li.active {
  width: 100%;
  background-color: red!important;
  }

  .test li {
    color: blue;
  }
  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .demo-checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-disabled-checkbox-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .demo-checkboxes-radio {
    display: flex;
    justify-content: space-between;
  }

  .demo-rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .star {
    font-size: 1.5rem;
    color: nb-theme(color-fg);
  }

  .filled {
    color: nb-theme(color-fg);
  }

  // TODO: Replace with the card header styles mixin
  .rating-header {
    line-height: 2rem;
    font-size: 1.25rem;
    font-family: nb-theme(font-secondary);
    font-weight: nb-theme(font-weight-bolder);
    color: nb-theme(color-fg-heading);
  }

  .current-rate {
    font-size: 1.5rem;
    @include nb-ltr(padding-left, 1rem);
    @include nb-rtl(padding-right, 1rem);
    color: nb-theme(color-fg-heading);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {

      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  ngb-rating {
    outline: none;
  }

  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
  .col-lg-12 {
    margin-bottom: 30px !important;
  }
  .col-lg-6 {
    float: left !important;
  }
  #btnAgregar {
    margin-bottom: 10px
  }
  .nb-close {
    font-size: 20px;
    color: #ff386a;
    cursor: pointer;
  }
  .nb-edit {
    font-size: 20px;
    color: #00d977;
    cursor: pointer;
    font-weight: bold;
  }
  .nb-trash {
    font-size: 20px;
    color: #00d977;
    cursor: pointer;
    font-weight: bold;
    color: #ff386a;
  }
  th {

    font-family: Exo;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    color: #2a2a2a;

  }
  td {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #2a2a2a;
  }
  a.label-paginacion-select {
    color: #000;
  }
}