<nb-card>
  <nb-card-header>
    Rangos de tropas
  </nb-card-header>

  <nb-card-body>
  <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                    (createConfirm)="onCreateConfirm($event)" (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>
    <!-- <div class="container-btn">
      <button nbButton style="float:right;"
              outline status="success"
              class="btn-demo" (click)=agregar()>
        AGREGAR
      </button>
    </div> -->
  </nb-card-body>
</nb-card>
