<div class="row">
  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>Faenas</nb-card-header>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Fecha</th>
              <th class="text-center">Elegir Tropa</th>
              <th class="text-center">Total Garrones</th>
              <th class="text-center">Mostrar</th>
              <!-- <th class="text-center">Eliminar</th> -->
            </tr>
            <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
            <tr *ngFor="let faena of faenasCargados; let i = index">
              <td>
                <span>
                  {{faena.fecha | date:'dd-MM-yyyy' }}
                </span>
              </td>
              <td>
                <select  class="form-control" [(ngModel)]="faenasListadas.ingresoElegido[faena.id]">
                  <option  *ngFor="let ingreso of faena.listIngresos"  [value]="ingreso.id">
                    {{ingreso.tropa.numero}}
                  </option>
                </select>
              </td>
              <td>
                <span>
                  {{faena.cantidad}}
                </span>
              </td>
              <td>
                <span>
                  <i  (click)= selectFaena(faena) class="nb-checkmark"></i>
                </span>
              </td>
              <!-- <td>
                <span>
                  <i  (click)= borrarFaena(faena) class="nb-checkmark"></i>
                </span>
              </td> -->
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
   <div class="col-12 form-group row" *ngIf="faenasCargados.length > 0" style="text-align: center;">
     <div class="col-md-1">
       <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
         data-target="#buscarStockModal" (click)="rewind()">
         <i class="fa fa-angle-double-left"></i>
       </button>
     </div>
     <div class="col-md-10">
       <span *ngFor="let p of totalPages; let i = index" class="label-detalle">
         <a style="cursor: pointer;" (click)="setPage(i)"
           [ngClass]="{'label-paginacion-select': i === page }">&nbsp;{{ i+1 }}&nbsp;</a>
         &nbsp;
       </span>
     </div>
     <div class="col-md-1">
       <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
         data-target="#buscarStockModal" (click)="forward()">
         <i class="fa fa-angle-double-right"></i>
       </button>
     </div>
   </div>
  <!-- Fin Paginacion -->
  <div class="col-lg-12" [hidden]="showSelect">
    <div class="card">
      <!-- Editable table -->
      <nb-card-header>Tropa Seleccionada</nb-card-header>
      <div id="aPrint"  #aPrint class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Tropa</th>
              <th class="text-center">N° Garron</th>
              <th class="text-center">Clasificación</th>
              <th class="text-center">Peso</th>
              <th class="text-center">Imprimir
                  <nb-checkbox id="check-all" [(ngModel)]="checkAll"  (change)=btnSelectAll() ></nb-checkbox>
              </th>
            </tr>
            <tr *ngFor="let romaneo of romaneosSelect; let i = index">
              <td>
                <span>
                  {{romaneo.tropaDetalle.tropa.numero}}
                </span>
              </td>
              <td>
                <span>
                  {{romaneo.garron}}
                </span>
              </td>
              <td>
                <span>
                  {{romaneo.tropaDetalle.subtipoAnimal.descripcion}}
                </span>
              </td>
              <td>
                <span>
                  {{romaneo.peso}}
                </span>
              </td>
              <td>
                <span>
                  <nb-checkbox [(ngModel)]="printIndividual.checkbox[i]" ></nb-checkbox>
                </span>
              </td>
            </tr>
          </table>
          <div class="col-12 form-group row" *ngIf="romaneosSelect.length > 0" style="text-align: center;">
            <div class="col-md-1">
              <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
                data-target="#buscarStockModal" (click)="rewindRomaneos()">
                <i class="fa fa-angle-double-left"></i>
              </button>
            </div>
            <div class="col-md-10">
              <span *ngFor="let p of totalPagesRomaneo; let i = index" class="label-detalle">
                <a style="cursor: pointer;" (click)="setPageRomaneos(i)"
                  [ngClass]="{'label-paginacion-select': i === page }">&nbsp;{{ i+1 }}&nbsp;</a>
                &nbsp;
              </span>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
                data-target="#buscarStockModal" (click)="forwardRomaneos()">
                <i class="fa fa-angle-double-right"></i>
              </button>
            </div>
          </div>
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Peso Total</th>
              <th class="text-center">Peso Promedio</th>
            </tr>
            <td>
              <span>
                {{faenasListadas.pesoTotal | number:'1.0-2'}}
              </span>
            </td>
            <td>
              <span>
                {{faenasListadas.promedio | number:'1.0-2' }}
              </span>
            </td>
          </table>
        </div>
      </div>
      <div class="container-btn">
        <button nbButton style="float:right; margin: 10px 20px 20px "
                outline status="success"
                class="btn-demo" (click)=imprimir()>
          IMPRIMIR TROPA
        </button>
        <button nbButton style="float:right; margin: 10px 20px 20px "
                outline status="success"
                class="btn-demo" (click)=imprimirUno()>
          IMPRIMIR GARRONES
        </button>
        <button nbButton style="float:right; margin: 10px 20px 20px "
                outline status="success"
                class="btn-demo" (click)=imprimirCuarteo()>
          IMPRIMIR CUARTEO
        </button>ç
        <button nbButton style="float:right; margin: 10px 20px 20px "
                outline status="success"
                class="btn-demo" (click)=exportarSenasa()>
          EXPORTAR SENASA
        </button>
      </div>
    </div>
  </div>
</div>
