<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="Nombre*"
                     [(ngModel)]="formAdministrativo.nombre" name="nombre" required>
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="Apellido"
                      name="apellido" [(ngModel)]="formAdministrativo.apellido">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="Nombre de Usuario*"
                     [(ngModel)]="formAdministrativo.username" name="username" required>
            </div>
            <div class="col-sm-6 input-group">
              <input type="password" nbInput fullWidth placeholder="Contraseña"
                      name="password" [(ngModel)]="formAdministrativo.password">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="number" nbInput fullWidth placeholder="Teléfono"
                     name="telefono" [(ngModel)]="formAdministrativo.telefono">
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="E-mail"
                     name="email" [(ngModel)]="formAdministrativo.email">
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="success" (click)="agregar()"
            style="float:right;">AGREGAR</button>
    <button nbButton hero status="warning" (click)="dismiss()"
            style="float:left;">CANCELAR</button>
  </nb-card-footer>
</nb-card>



