<div class="row">
  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>MOVIMIENTOS DE CAMARA</nb-card-header>
      <div class="card-body">
        <div class="card">
          <nb-card-header>Tropas en Refrigerado</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <!-- <th class="text-center">Fecha</th> -->
                  <th class="text-center">Número Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Individual</th>
                  <th class="text-center">Camara Nueva</th>
                  <th class="text-center">Mover</th>
                </tr>
                <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
                <tr *ngFor="let ingresoRefrigerado of ingresosRefrigerados; let i = index">
                  <!-- <td>
                    <span>
                      {{ingreso.fecha | date:'dd-MM-yyyy' }}
                    </span>
                  </td> -->
                  <td>
                    <span>
                      {{ingresoRefrigerado.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingresoRefrigerado.tropa.cliente.persona.nombre}}
                      {{ingresoRefrigerado.tropa.cliente.persona.apellido}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <!-- Deberia mostrar el número de garrones de este ingreso
                      que están efectivamente en la camra, puede que no esten todos -->
                      {{ingresoRefrigerado.tropa.cantidad}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <i (click)= movimientoGarronShow(ingresoRefrigerado,1) class="nb-arrow-thin-down"></i>
                    </span>
                  </td>
                  <td>
                      <select class="form-control" [(ngModel)]="camaraFormRef[i]">
                        <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                          {{camara.descripcion}}
                        </option>
                        <option value="retiro">
                          Retiro
                        </option>
                      </select>
                  </td>
                  <td>
                    <span>
                      <i (click)= moverIngreso(ingresoRefrigerado,i,1) class="nb-arrow-thin-right"></i>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <!-- SubTabla para hacer movimientos por garron Refrigerado -->
        <div *ngIf="subTableGarron1" class="card" >
          <nb-card-header>Movimiento indivual tropa {{ingresoMov.tropa.numero}}</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center">Seleccionar</th>
                  <th class="text-center">N° Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">N° Garron</th>
                  <th class="text-center">Camara Nueva</th>
                </tr>
                <tr *ngFor="let garronMovGarron of garronesMovGarron; let i = index">
                  <td>
                    <span>
                      <nb-checkbox></nb-checkbox>
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.cliente.persona.nombre}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.garron}}
                    </span>
                  </td>
                  <td>
                    <select class="form-control">
                      <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                        {{camara.descripcion}}
                      </option>
                      <option value="retiro">
                        Retiro
                      </option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="container-btn">
              <button nbButton style="float:right; margin: 10px 20px 20px "
                      outline status="success"
                      class="btn-demo" (click)=hideSubTable()>
                MOVER
              </button>
            </div>
          </div>
        </div>



        <div class="card">
          <nb-card-header>Tropas en Tunel</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <!-- <th class="text-center">Fecha</th> -->
                  <th class="text-center">Número Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Individual</th>
                  <th class="text-center">Camara Nueva</th>
                  <th class="text-center">Mover</th>
                </tr>
                <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
                <tr *ngFor="let ingresoTunel of ingresosTunel; let i = index">
                  <!-- <td>
                    <span>
                      {{ingreso.fecha | date:'dd-MM-yyyy' }}
                    </span>
                  </td> -->
                  <td>
                    <span>
                      {{ingresoTunel.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingresoTunel.tropa.cliente.persona.nombre}}
                      {{ingresoTunel.tropa.cliente.persona.apellido}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <!-- Deberia mostrar el número de garrones de este ingreso
                      que están efectivamente en la camra, puede que no esten todos -->
                      {{ingresoTunel.tropa.cantidad}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <i (click)= movimientoGarronShow(ingresoTunel,2) class="nb-arrow-thin-down"></i>
                    </span>
                  </td>
                  <td>
                      <select class="form-control" [(ngModel)]="camaraFormTun[i]">
                        <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                          {{camara.descripcion}}
                        </option>
                        <option value="retiro">
                          Retiro
                        </option>
                      </select>
                  </td>
                  <td>
                    <span>
                      <i (click)= moverIngreso(ingresoTunel,i,2) class="nb-arrow-thin-right"></i>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- SubTabla para hacer movimientos por garron Tunel -->
        <div *ngIf="subTableGarron2" class="card" >
          <nb-card-header>Movimiento indivual tropa {{ingresoMov.tropa.numero}}</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center">Seleccionar</th>
                  <th class="text-center">N° Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">N° Garron</th>
                  <th class="text-center">Camara Nueva</th>
                </tr>
                <tr *ngFor="let garronMovGarron of garronesMovGarron; let i = index">
                  <td>
                    <span>
                      <nb-checkbox></nb-checkbox>
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.cliente.persona.nombre}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.garron}}
                    </span>
                  </td>
                  <td>
                    <select class="form-control">
                      <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                        {{camara.descripcion}}
                      </option>
                      <option value="retiro">
                        Retiro
                      </option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="container-btn">
              <button nbButton style="float:right; margin: 10px 20px 20px "
                      outline status="success"
                      class="btn-demo" (click)=hideSubTable()>
                MOVER
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <nb-card-header>Tropas en Congelado</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <!-- <th class="text-center">Fecha</th> -->
                  <th class="text-center">Número Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">Cantidad</th>
                  <th class="text-center">Individual</th>
                  <th class="text-center">Camara Nueva</th>
                  <th class="text-center">Mover</th>
                </tr>
                <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
                <tr *ngFor="let ingresoCongelado of ingresosCongelados; let i = index">
                  <!-- <td>
                    <span>
                      {{ingreso.fecha | date:'dd-MM-yyyy' }}
                    </span>
                  </td> -->
                  <td>
                    <span>
                      {{ingresoCongelado.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingresoCongelado.tropa.cliente.persona.nombre}}
                      {{ingresoCongelado.tropa.cliente.persona.apellido}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <!-- Deberia mostrar el número de garrones de este ingreso 
                      que están efectivamente en la camra, puede que no esten todos -->
                      {{ingresoCongelado.tropa.cantidad}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <i (click)= movimientoGarronShow(ingresoCongelado,3) class="nb-arrow-thin-down"></i>
                    </span>
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="camaraFormCon[i]">
                        <!-- <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                          {{camara.descripcion}}
                        </option> -->
                      <!-- ESTÁ DESHABILITADO EL MOVIMIENTO ENTRE CAMARAS PORQUE DE CONGELADO NO SE
                      PUEDE VOLVER A OTRO TIPO DE CAMARA, SOLO SE PUEDE RETIRAR -->

                      <option value="retiro">
                        Retiro
                      </option>
                    </select>
                  </td>
                  <td>
                    <span>
                      <i (click)= moverIngreso(ingresoCongelado,i,3) class="nb-arrow-thin-right"></i>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- SubTabla para hacer movimientos por garron Congelado -->
        <div *ngIf="subTableGarron3" class="card" >
          <nb-card-header>Movimiento indivual tropa {{ingresoMov.tropa.numero}}</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center">Seleccionar</th>
                  <th class="text-center">N° Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">N° Garron</th>
                  <th class="text-center">Camara Nueva</th>
                </tr>
                <tr *ngFor="let garronMovGarron of garronesMovGarron; let i = index">
                  <td>
                    <span>
                      <nb-checkbox></nb-checkbox>
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.ingreso.tropa.cliente.persona.nombre}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{garronMovGarron.garron}}
                    </span>
                  </td>
                  <td>
                    <select class="form-control">
                      <!-- <option *ngFor="let camara of camaras; let id = index" value="{{camara.id}}">
                        {{camara.descripcion}}
                        ESTÁ DESHABILITADO EL MOVIMIENTO ENTRE CAMARAS PORQUE DE CONGELADO NO SE
                        PUEDE VOLVER A OTRO TIPO DE CAMARA, SOLO SE PUEDE RETIRAR
                      </option> -->
                      <option value="retiro">
                        Retiro
                      </option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
            <div class="container-btn">
              <button nbButton style="float:right; margin: 10px 20px 20px "
                      outline status="success"
                      class="btn-demo" (click)=hideSubTable()>
                MOVER
              </button>
            </div>
          </div>
        </div>
        <!-- Fin Sin Asignar -->
      </div>
    </div>
  </div>
</div>
