<div class="row">
  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>Listas Matanza</nb-card-header>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Numero</th>
              <th class="text-center">Lista de Tropas</th>
              <th class="text-center">Creada por</th>
              <th class="text-center">Editar</th>
              <th class="text-center">Eliminar</th>
            </tr>
            <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
            <tr *ngFor="let lista of listasMatanza; let id = index">
              <td>
                <span>
                  {{ lista.numero }}
                </span>
              </td>
              <td>
                <select class="form-control">
                  <option *ngFor="let ingreso of lista.ingresoList">
                    {{ingreso.tropa.numero}}
                  </option>
                </select>
              </td>
              <td>
                <span>
                  {{ lista.administrativo.usuario.nombre }}
                  {{ lista.administrativo.usuario.apellido }}
                </span>
              </td>
              <td>
                <span>
                  <i (click)= editMatanza(lista) class="nb-edit"></i>
                </span>
              </td>
              <td>
                <span>
                  <i (click)= eliminarList(lista) class="nb-trash"></i>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
     <div class="col-12 form-group row" *ngIf="listasMatanza.length > 0" style="text-align: center;">
       <div class="col-md-1">
         <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
           data-target="#buscarStockModal" (click)="rewind()">
           <i class="fa fa-angle-double-left"></i>
         </button>
       </div>
       <div class="col-md-10">
         <span *ngFor="let p of totalPages; let i = index" class="label-detalle">
           <a style="cursor: pointer;" (click)="setPage(i)"
             [ngClass]="{'label-paginacion-select': i === page }">&nbsp;{{ i+1 }}&nbsp;</a>
           &nbsp;
         </span>
       </div>
       <div class="col-md-1">
         <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
           data-target="#buscarStockModal" (click)="forward()">
           <i class="fa fa-angle-double-right"></i>
         </button>
       </div>
     </div>
  <!-- Fin Paginacion -->

  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>{{ tituloMatanza }}</nb-card-header>
      <div class="card-body">
        <div class="col-lg-6">
          <!-- Editable table -->
          <div class="card">
            <nb-card-header>Ingresos</nb-card-header>
            <div class="card-body">
              <div id="table" class="table-editable">
                <!-- <span class="table-add float-right mb-3 mr-2">
                  <a class="text-success" (click)="add()">
                    <mdb-icon fas icon="plus" size="2x"></mdb-icon>
                    <i class="nb-plus"></i>
                  </a>
                </span> -->
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <tr>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Tropa</th>
                    <th class="text-center">Matarife</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Agregar</th>
                  </tr>
                  <tr *ngFor="let listIngreso of listIngresos; let id = index">
                    <td>
                      <span>
                        {{listIngreso.fecha | date:'dd-MM-yyyy' }}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{listIngreso.tropa.numero}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{listIngreso.tropa.cliente.persona.nombre}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{listIngreso.cantidad}}
                      </span>
                    </td>
                    <td>
                      <span>
                        <i (click)="add(listIngreso, id)" class="nb-plus"></i>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- Editable table -->
        </div>
        <div class="col-lg-6">
          <!-- Editable table -->
          <div class="card">
            <nb-card-header>Lista Matanza</nb-card-header>
            <div class="card-body">
              <div id="table" class="table-editable">
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <tr>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Tropa</th>
                    <th class="text-center">Matarife</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Eliminar</th>
                  </tr>
                  <tr *ngFor="let ingresoElegidos of ingresosElegidos; let id = index ">
                    <td>
                      <span>
                        {{ingresoElegidos.fecha | date:'dd-MM-yy' }}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{ingresoElegidos.tropa.numero}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{ingresoElegidos.tropa.cliente.persona.nombre}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{ingresoElegidos.cantidad}}
                      </span>
                    </td>
                    <td>
                      <span>
                        <i (click)="remove(ingresoElegidos,id)" class="nb-close"></i>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6 input-group">
                  <label class="col-form-label">Libro Nro</label>
                  <input type="number" nbInput fullWidth placeholder="Libro Nro"
                   [(ngModel)]="libroNro">
                </div>
                <div class="col-sm-6 input-group">
                  <label class="col-form-label">Libro Folio</label>
                  <input type="text" nbInput fullWidth placeholder="Libro Folio"
                  ([ngModel])="libroFolio">
                </div>
              </div>
            </div>
          </div>
          <!-- Editable table -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="container-btn">
      <button nbButton style="float:right;"
              outline status="success"
              class="btn-demo" (click)=confirmar()
              [disabled]="btnConfirmar"
              [hidden]="btnConfirmarShow">
        CONFIRMAR
      </button>
      <button nbButton style="float:right;"
              outline status="success"
              class="btn-demo" (click)=editar()
              [disabled]="btnEditar"
              [hidden]="btnEditarShow">
        EDITAR
      </button>
      <button nbButton style="float:right;"
              outline status="success"
              class="btn-demo" (click)=cancelar()
              [hidden]="btnCancelarShow" id="btn-cancel">
        CANCELAR
      </button>
    </div>
  </div>
</div>