.nb-plus {
  font-size: 20px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
.nb-close {
  font-size: 20px;
  color: #ff386a;
  cursor: pointer;
  font-weight: bold;
}
.nb-edit {
  font-size: 22px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
.nb-trash {
  font-size: 22px;
  color: #ff386a;
  cursor: pointer;
  font-weight: bold;
}
#btn-cancel {
  margin-right: 15px;
}
th {

  font-family: Exo;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  color: #2a2a2a;

}
td {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #2a2a2a;
}
.btn-demo {
  margin: 20px 0;
}
.col-lg-12 {
  margin-bottom: 25px;
}
.col-lg-6 {
  float: left;
}
select {
  max-width: 100px;
  margin: auto;
  max-height: 35px;
}
a.label-paginacion-select {
  color: #000;
}