<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Nombre*</label>
              <input type="text" nbInput fullWidth placeholder="Nombre"
                     [(ngModel)]="transportista.persona.nombre" name="nombre" required
                     >
            </div>
            <div class="col-sm-6 input-group">
              <label >Apellido</label>
              <input type="text" nbInput fullWidth placeholder="Apellido"
                      name="apellido" [(ngModel)]="transportista.persona.apellido" value="Gonzalo">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Fecha de nacimiento</label>
              <input nbInput fullWidth placeholder="{{transportista.persona.fechaNac | date:'dd-MM-yyyy' }}" [nbDatepicker]="formpicker"
                      name="fechaNac" [(ngModel)]="nuevaFecha">
              <nb-datepicker #formpicker format="dd-MM-yyyy"></nb-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label fullWidth >Tipo de documento*</label>
              <select  class="form-control"  name="tipoDocumento"
                        [(ngModel)]="transportista.persona.tipoDocumento.descripcion">
                <option [ngValue]="undefined" selected> {{transportista.persona.tipoDocumento.descripcion}}</option>
                <option *ngFor="let tipoDocumento of tiposDocumento">{{tipoDocumento.descripcion}}</option>
              </select>
            </div>
            <div class="col-sm-6 input-group">
              <label fullWidth>Tipo de persona*</label>
              <select  class="form-control" name="tipoPersona"
                        [(ngModel)]="transportista.persona.tipoPersona.descripcion">
                <option [ngValue]="undefined" selected> {{transportista.persona.tipoPersona.descripcion}}</option>
                <option *ngFor="let tipoPersona of tiposPersona">{{tipoPersona.descripcion}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >D.N.I.*</label>
              <input type="number" nbInput fullWidth placeholder="DNI"
                      name="dni" [(ngModel)]="transportista.persona.dni">
            </div>
            <div class="col-sm-6 input-group">
              <label >C.U.I.T.*</label>
              <input type="number" nbInput fullWidth placeholder="CUIT"
                     name="cuit" [(ngModel)]="transportista.persona.cuit">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Teléfono</label>
              <input type="number" nbInput fullWidth placeholder="Teléfono"
                     name="telefono" [(ngModel)]="transportista.persona.telefono">
            </div>
            <div class="col-sm-6 input-group">
              <label >E-mail</label>
              <input type="text" nbInput fullWidth placeholder="E-mail"
                     name="email" [(ngModel)]="transportista.persona.email">
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="success" (click)="editar()"
            style="float:right;">CONFIRMAR</button>
    <button nbButton hero status="warning" (click)="dismiss()"
            style="float:left;">CANCELAR</button>
  </nb-card-footer>
</nb-card>



