<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="Nombre*"
                     [(ngModel)]="formMatarife.nombre" name="nombre" required>
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="Apellido"
                      name="apellido" [(ngModel)]="formMatarife.apellido">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input nbInput fullWidth placeholder="Fecha de Nacimiento" [nbDatepicker]="formpicker"
                      name="fechaNac" [(ngModel)]="formMatarife.fechaNac">
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
            <div class="col-sm-6 input-group">
              <select  class="form-control" name="tipoPersona"
                        [(ngModel)]="formMatarife.tipoPersona">
                <option [ngValue]="undefined" disabled  selected> Tipo de persona*</option>
                <option *ngFor="let tipoPersona of tiposPersona">{{tipoPersona.descripcion}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <select  class="form-control"  name="tipoDocumento"
                        [(ngModel)]="formMatarife.tipoDocumento">
                <option [ngValue]="undefined" disabled  selected> Tipo de documento*</option>
                <option *ngFor="let tipoDocumento of tiposDocumento">{{tipoDocumento.descripcion}}</option>
              </select>
            </div>
            <div class="col-sm-6 input-group">
              <input type="number" nbInput fullWidth placeholder="DNI*"
                      name="dni" [(ngModel)]="formMatarife.dni">
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="number" nbInput fullWidth placeholder="CUIT*"
                     name="cuit" [(ngModel)]="formMatarife.cuit">
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="RUCA*"
                     name="cuit" [(ngModel)]="formMatarife.ruca">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <input type="number" nbInput fullWidth placeholder="Teléfono"
                     name="telefono" [(ngModel)]="formMatarife.telefono">
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" nbInput fullWidth placeholder="E-mail"
                     name="email" [(ngModel)]="formMatarife.email">
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="success" (click)="agregar()"
            style="float:right;">AGREGAR</button>
    <button nbButton hero status="warning" (click)="dismiss()"
            style="float:left;">CANCELAR</button>
  </nb-card-footer>
</nb-card>



