<nb-card>
  <nb-card-header>ERROR</nb-card-header>
  <nb-card-body>
    {{ title }}
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="warning"
            (click)="dismiss()"
            style="float:right;">Ok</button>
  </nb-card-footer>
</nb-card>
