<div class="row">


  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>
        {{tituloFormulario}}
      </nb-card-header>
      <div class="card-body">
        <div class="col-lg-12">
              <div class="row">
                <div class="col-sm-4 input-group">
                  <input nbInput fullWidth
                         placeholder="Fecha de ingreso"
                         [nbDatepicker]="formpicker"
                         [(ngModel)]="formIngreso.fechaIngreso">
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
                <div class="col-sm-4 input-group">
                  <input type="text" nbInput fullWidth placeholder="Número de DTE"
                        [(ngModel)]="formIngreso.numeroDte">
                </div>
                <div class="col-sm-4 input-group">
                  <input nbInput fullWidth
                         placeholder="Fecha DTE"
                         [nbDatepicker]="formpickerdte"
                         [(ngModel)]="formIngreso.fechaDte">
                  <nb-datepicker #formpickerdte></nb-datepicker>
                </div>
              </div>
              <!-- Estos datos son iguales a numero DTE fecha DTE -->
              <!-- <div class="row">
                <div class="col-sm-6 input-group">
                  <input type="string" nbInput fullWidth placeholder="Guia"
                        [(ngModel)]="formIngreso.guia">
                </div>
                <div class="col-sm-6 input-group">
                  <input nbInput fullWidth
                         placeholder="Fecha Guia"
                         [nbDatepicker]="formpickerguia"
                         [(ngModel)]="formIngreso.fechaGuia">
                  <nb-datepicker #formpickerguia></nb-datepicker>
                </div>
              </div> -->
              <div class="row">
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Matarife" [(ngModel)]="formIngreso.matarife"
                            notFoundText="Matarife no encontrado" (clear)="resetTropaN()"	>
                  <ng-option *ngFor="let matarife of matarifes" [value]="matarife.id" >
                    {{ matarife.persona.nombre }} {{ matarife.persona.apellido }}
                  </ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Productor" name="productor" [(ngModel)]="formIngreso.productor" [virtualScroll]="true"
                  notFoundText="Productor no encontrado" (search)="buscarProductoresLista($event.term)" [clearSearchOnAdd]="true"
                  loadingText="Cargando Productores...">
                  <ng-option *ngFor="let productor of productores" [value]="productor.id">
                    {{ productor.persona.nombre }} {{ productor.persona.apellido }}
                  </ng-option>
                </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Chofer" [(ngModel)]="formIngreso.transportista"
                        notFoundText="Chofe no encontrado">
                  <ng-option *ngFor="let transportista of transportistas" [value]="transportista.id">
                  {{ transportista.persona.nombre }} {{ transportista.persona.apellido }}
                  </ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Transporte dominio" [(ngModel)]="formIngreso.transporte"
                      notFoundText="Transporte no encontrado">
                  <ng-option *ngFor="let transporte of transportes" [value]="transporte.id">
                  {{ transporte.dominio }}
                  </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Procedencia" [(ngModel)]="formIngreso.procedencia"
                      notFoundText="Procedencia no encontrada">
                  <ng-option *ngFor="let procedencia of procedencias" [value]="procedencia.id">
                  {{ procedencia.descripcion }}
                  </ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Destinos" [(ngModel)]="formIngreso.destino"
                      notFoundText="Destino no encontrado">
                  <ng-option *ngFor="let destino of destinos" [value]="destino.id">
                  {{ destino.descripcion }}
                  </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Corralero" [(ngModel)]="formIngreso.corralero"
                      notFoundText="Corralero no encontrado">
                  <ng-option *ngFor="let corralero of corraleros" [value]="corralero.id">
                  {{ corralero.usuario.nombre }} {{ corralero.usuario.apellido }}
                  </ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-6 input-group">
                  <ng-select placeholder="Corral" [(ngModel)]="formIngreso.corral"
                      notFoundText="Corral no encontrado">
                  <ng-option *ngFor="let corral of corrales" [value]="corral.id">
                  {{ corral.descripcion }}
                  </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-4 input-group">
                  <ng-select placeholder="Especie Animal" [(ngModel)]="formIngreso.tipoAnimal"
                      notFoundText="Tipo de animal no encontrado" (change)="listaSubTiposAnimal($event)"
                      (clear)="resetTropaN()">
                  <ng-option *ngFor="let tipoAnimal of tiposAnimal" [value]="tipoAnimal.id" >
                  {{ tipoAnimal.descripcion }}
                  </ng-option>
                  </ng-select>
                </div>
                <div class="col-sm-4  input-group" >
                    <button nbButton style="float:right;"
                            fullWidth
                            outline status="success"
                            class="btn-demo" (click)=obtenerNumeroDeTropa()>
                      Obtener número
                    </button>
                </div>
                <div class="col-sm-4  input-group" >
                  <input disabled type="number" nbInput fullWidth placeholder="Número de Tropa"
                   name="numeroTropa" [(ngModel)]="formIngreso.numeroTropa">
                </div>
              </div>
        </div>
      </div>
      <div class="col-lg-12">
        <!-- Editable table -->
        <div class="card">
          <nb-card-header>Ingresos</nb-card-header>
          <div class="card-body">
            <div id="table" class="table-editable">
              <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                  <th class="text-center">Fecha</th>
                  <th class="text-center">Número Tropa</th>
                  <th class="text-center">Matarife</th>
                  <th class="text-center">Garrones</th>
                  <th class="text-center">Corral</th>
                  <th class="text-center">Editar</th>
                  <th class="text-center">Eliminar</th>
                </tr>
                <!-- AGREGAR CONDICIONAL PARA LISTAR INGRESOS SIN LISTA DE MATAZANZA ASIGANDA -->
                <tr *ngFor="let ingreso of ingresos ; let id = index">
                  <td>
                    <span>
                      {{ingreso.fecha | date:'dd-MM-yyyy' }}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingreso.tropa.numero}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingreso.tropa.cliente.persona.nombre}}
                      {{ingreso.tropa.cliente.persona.apellido}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingreso.cantidad}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{ingreso.corral.descripcion}}
                    </span>
                  </td>
                  <td>
                    <span>
                      <i (click)= editIngreso(ingreso) class="nb-edit"></i>
                    </span>
                  </td>
                  <td>
                    <span>
                      <i (click)= borrarIngreso(ingreso) class="nb-trash"></i>
                    </span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Paginacion -->
       <div class="col-12 form-group row" *ngIf="ingresos.length > 0" style="text-align: center;">
         <div class="col-md-1">
           <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
             data-target="#buscarStockModal" (click)="rewind()">
             <i class="fa fa-angle-double-left"></i>
           </button>
         </div>
         <div class="col-md-10">
           <span *ngFor="let p of totalPages; let i = index" class="label-detalle">
             <a style="cursor: pointer;" (click)="setPage(i)"
               [ngClass]="{'label-paginacion-select': i === page }">&nbsp;{{ i+1 }}&nbsp;</a>
             &nbsp;
           </span>
         </div>
         <div class="col-md-1">
           <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
             data-target="#buscarStockModal" (click)="forward()">
             <i class="fa fa-angle-double-right"></i>
           </button>
         </div>
       </div>
      <!-- Fin Paginacion -->
      <div class="col-lg-12">
        <div class="card">
          <nb-card-header>Animales</nb-card-header>
          <div class="card-body">
              <div id="table" class="table-editable">
                <table id="list-subtipo-animal" class="table table-bordered table-responsive-md table-striped text-center">
                  <tbody>
                    <tr>
                      <th class="text-center">Raza</th>
                      <th class="text-center">Presente</th>
                      <th class="text-center">Cantidad vivos</th>
                      <th class="text-center">Peso vivos</th>
                      <th class="text-center">Cantidad muertos</th>
                      <th class="text-center">Peso muertos</th>
                    </tr>
                      <tr *ngFor="let subTipoAnimal of subTiposAnimalesList; let i = index">
                        <td>
                          <span>
                            {{subTipoAnimal.descripcion}}
                          </span>
                        </td>
                        <td>
                          <span>
                            <nb-checkbox [(ngModel)]="subTiposElegidos.checkbox[i]"></nb-checkbox>
                          </span>
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="subTiposElegidos.cantvivo[i]" value="0">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="subTiposElegidos.pesovivo[i]">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="subTiposElegidos.cantmuerto[i]">
                        </td>
                        <td>
                          <input type="number" [(ngModel)]="subTiposElegidos.pesomuerto[i]">
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <button nbButton style="float:right;"
            outline status="success" id="btnAgregar"
            class="btn-demo" (click)=agregar()
            [disabled]="buttonAgregar">
      AGREGAR
    </button>
  </div>
</div>
