<div class="row">
  <div class="col-lg-12">
    <!-- Editable table -->
    <div class="card">
      <nb-card-header>Ultimas Listas de Matanzas</nb-card-header>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Numero</th>
              <th class="text-center">Lista de Tropas</th>
              <th class="text-center">Creada por</th>
              <th class="text-center">Seleccionar</th>
            </tr>
            <tr *ngFor="let lista of listasPendientes; let id = index">
              <td>
                <span>
                  {{ lista.numero }}
                </span>
              </td>
              <td>
                <select  class="form-control">
                  <option *ngFor="let ingreso of lista.ingresoList">
                    {{ingreso.tropa.numero}}
                  </option>
                </select>
              </td>
              <td>
                <span>
                  {{ lista.administrativo.usuario.nombre }}
                  {{ lista.administrativo.usuario.apellido }}
                </span>
              </td>
              <td>
                <span>
                  <i (click)= seleccionarLista(lista) class="nb-checkmark"></i>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Paginacion -->
     <div class="col-12 form-group row" *ngIf="listasPendientes.length > 0" style="text-align: center;">
       <div class="col-md-1">
         <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
           data-target="#buscarStockModal" (click)="rewind()">
           <i class="fa fa-angle-double-left"></i>
         </button>
       </div>
       <div class="col-md-10">
         <span *ngFor="let p of totalPages; let i = index" class="label-detalle">
           <a style="cursor: pointer;" (click)="setPage(i)"
             [ngClass]="{'label-paginacion-select': i === page }">&nbsp;{{ i+1 }}&nbsp;</a>
           &nbsp;
         </span>
       </div>
       <div class="col-md-1">
         <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info"
           data-target="#buscarStockModal" (click)="forward()">
           <i class="fa fa-angle-double-right"></i>
         </button>
       </div>
     </div>
  <!-- Fin Paginacion -->
  <div class="col-lg-12" *ngFor="let romaneoList of romaneoListGeneral; let id = index">
    <!-- Editable table -->
    <div [hidden]="hideIngresos.id[id]" id="{{id}}" class="card">
      <nb-card-header>Romaneo Tropa {{romaneoList[1].tropaDetalle.tropa.numero }}</nb-card-header>
      <div class="card-body">
        <div id="table" class="table-editable">
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Tropa</th>
              <th class="text-center">N° Garron</th>
              <th class="text-center">Clasificación</th>
              <th class="text-center">Peso</th>
              <th class="text-center">Decomizar</th>
            </tr>
            <tr *ngFor="let romaneo of romaneoList; let i = index">
              <td>
                <span>
                  {{romaneo.tropaDetalle.tropa.numero}}
                </span>
              </td>
              <td>
                <span>
                  {{romaneo.garron}}
                </span>
              </td>
              <td>
                <span>
                  {{romaneo.tropaDetalle.subtipoAnimal.descripcion}}
                </span>
              </td>
              <td>
                <input type="number" contenteditable="true"
                      [(ngModel)]="romaneoDatos.peso[romaneo.garron]"  placeholder="Kg">
              </td>
              <td>
                <span>
                  <i (click)="decomizar(romaneo)"  class="nb-close"></i>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="container-btn">
        <button nbButton style="float:right; margin: 10px 20px 20px "
                outline status="success"
                class="btn-demo" (click)=terminar(romaneoList,id)
                [disabled]="btnTerminado">
          TERMINADO
        </button>
        <ng-select placeholder="Elegir camara" [(ngModel)]="camaraElegida"
                  notFoundText="Camara no encontrada"	>
        <ng-option *ngFor="let camara of camarasRefrigerado" [value]="camara.id" >
          {{ camara.descripcion }}
        </ng-option>
        </ng-select>

      </div>
    </div>
  </div>
</div>