.ng-select-container {
  border: none !important;
}
.ng-select, .ng-option {
  border-radius: 0.375rem;
  font-size: 1rem;
  padding: 0.75rem 1.125rem;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #dadfe6;
  color: #2a2a2a;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}
.container-btn .ng-select {
  width: 165px;
float: right;
color: #000;
margin-top: 10px;
}
select {
  max-width: 100px !important;
  margin: auto !important;
  max-height: 35px !important;
}
.col-lg-12{
  margin-bottom: 20px;
}
.nb-plus {
  font-size: 20px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
.nb-close {
  font-size: 20px;
  color: #ff386a;
  cursor: pointer;
  font-weight: bold;
}
.nb-edit {
  font-size: 22px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
.nb-edit {
  font-size: 22px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
.nb-arrow-thin-down, .nb-checkmark {
  font-size: 24px;
  color: #00d977;
  cursor: pointer;
  font-weight: bold;
}
input {
  width: 70px;
  padding: 5px;
  color: #000;
}
th {

  font-family: Exo;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25;
  color: #2a2a2a;

}
td {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #2a2a2a;
}
a.label-paginacion-select {
  color: #000;
}
