<nb-card>
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <form>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Nombre*</label>
              <input type="text" nbInput fullWidth placeholder="Nombre"
                     [(ngModel)]="administrativo.usuario.nombre" name="nombre" required>
            </div>
            <div class="col-sm-6 input-group">
              <label >Apellido</label>
              <input type="text" nbInput fullWidth placeholder="Apellido"
                      name="apellido" [(ngModel)]="administrativo.usuario.apellido" required>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Nombre de Usuario*</label>
              <input type="text" nbInput fullWidth placeholder="Nombre de Usuario"
                     [(ngModel)]="administrativo.usuario.username" name="username" required>
            </div>
            <div class="col-sm-6 input-group">
              <label >Password</label>
              <!-- Desactivado hasta que haga desencriptar
              <input type="text" nbInput fullWidth placeholder="Contraseña"
                      name="password" [(ngModel)]="administrativo.usuario.password" required> -->
              <input type="text" nbInput fullWidth placeholder="Contraseña"
                     name="password" disabled >
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 input-group">
              <label >Teléfono</label>
              <input type="number" nbInput fullWidth placeholder="Teléfono"
                     name="telefono" [(ngModel)]="administrativo.usuario.telefono">
            </div>
            <div class="col-sm-6 input-group">
              <label >E-mail</label>
              <input type="text" nbInput fullWidth placeholder="E-mail"
                     name="mail" [(ngModel)]="administrativo.usuario.mail">
            </div>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton hero status="success" (click)="editar()"
            style="float:right;">CONFIRMAR</button>
    <button nbButton hero status="warning" (click)="dismiss()"
            style="float:left;">CANCELAR</button>
  </nb-card-footer>
</nb-card>



